* {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: #E8CBC0;
}

a {
  text-decoration: none;
}

.button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 1em;
}

.button-primary {
  background-color: #636FA4;
  color: #fff;
}

.butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
}

.butt-primary {
  background: #636FA4;
}

.butt-secondary {
  background: #fff;
  color: #2E2E2E;
}

@media (min-width: 2200px) {
  .butt {
    width: 200px;
    height: 50px;
    border-radius: 30px;
  }
}

.navBar-container {
  background-color: #2D2C2C;
}

.navBar-container header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}

.navBar-container header a {
  text-decoration: none;
  font-size: 1.2em;
}

.navBar-container header a .navName-first {
  color: #E8CBC0;
}

.navBar-container header a .navName-start {
  color: #FFAF7B;
}

.navBar-container header a .navName-last {
  color: #636FA4;
}

.navBar-container header a .navName-end {
  color: #FFAF7B;
}

@media (min-width: 1400px) {
  .navBar-container header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .navBar-container header a {
    font-size: 1.2em;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: .9em;
}

nav .navLrg {
  display: none;
}

nav .navLrg a {
  width: 100px;
}

nav .navLrg a:link {
  color: #fff;
}

nav .navLrg a:visited {
  color: #fff;
}

nav .navLrg a:hover {
  color: #FFAF7B;
}

@media (min-width: 768px) {
  nav .navLrg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1400px) {
  nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 20%;
  }
  nav .navLogo {
    padding-right: 100px;
  }
}

.header-social {
  display: none;
  margin: 0;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E8CBC0;
  list-style-type: none;
}

.header-social a {
  margin: 1em;
}

@media (min-width: 1400px) {
  .header-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 2em;
  }
}

@media (min-width: 768px) {
  .dropdown {
    display: none;
  }
}

ul.dropdown-menu.show {
  background-color: #2E2E2E;
}

.hero {
  background: #2E2E2E;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
}

.hero-container {
  position: relative;
}

.hero-content {
  width: 330px;
}

.hero h1 {
  margin-top: 1em;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: .25em;
  line-height: 1.8em;
}

.hero-tagline {
  font-size: .9em;
  letter-spacing: .1em;
}

.hero-tagline span {
  color: #FFAF7B;
}

.hero-cta {
  margin-top: 2.5em;
}

.hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .hero {
    margin-left: -4em;
  }
  .hero-content {
    width: 400px;
  }
  .hero h1 {
    font-size: 3.5em;
  }
}

@media (min-width: 1400px) {
  .hero {
    height: 100vh;
    padding-left: 25%;
    justify-items: start;
  }
  .hero-container {
    position: initial;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .hero h1 {
    margin-top: 1.5em;
    font-size: 4em;
  }
  .hero-tagline {
    font-size: 1.1em;
  }
  .hero-cta {
    font-size: 1.1em;
    margin-bottom: 2em;
  }
  .hero-buttons {
    width: 350px;
  }
}

@media (min-width: 2200px) {
  .hero-content {
    width: 100%;
  }
  .hero h1 {
    font-size: 6em;
  }
  .hero-tagline {
    font-size: 1.5em;
  }
  .hero-cta {
    font-size: 1.5em;
    margin: 2em 0;
  }
  .hero-buttons {
    font-size: 1.2em;
    width: 450px;
  }
}

.hero-lower {
  background: #2E2E2E;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
          clip-path: polygon(100% 0, 0% 100%, 0 0);
  height: 225px;
  width: 100%;
}

@media (min-width: 768px) {
  .hero-lower {
    height: 440px;
  }
}

@media (min-width: 1400px) {
  .hero-lower {
    background-color: #E8CBC0;
    position: relative;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.hero-svg {
  position: absolute;
  z-index: 1000;
  top: 70%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
}

@media (min-width: 768px) {
  .hero-svg {
    top: 60%;
    max-width: 500px;
  }
}

@media (min-width: 1400px) {
  .hero-svg {
    top: 50%;
    left: -50%;
    max-width: 650px;
    margin: 0;
  }
}

@media (min-width: 2200px) {
  .hero-svg {
    top: 70%;
    max-width: 1050px;
  }
}

@media (min-width: 1400px) {
  .svgSml {
    display: none;
  }
}

.svgLrg {
  display: none;
}

@media (min-width: 1400px) {
  .svgLrg {
    display: initial;
  }
}

.feature {
  background: #E8CBC0;
  background: -webkit-gradient(linear, left top, left bottom, from(#E8CBC0), to(#636FA4));
  background: linear-gradient(180deg, #E8CBC0 0%, #636FA4 100%);
  padding: 150px 0;
}

.feature-container {
  width: 90%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.feature-content {
  max-width: 600px;
  grid-area: content;
}

.feature-title {
  margin-bottom: 2em;
  font-size: 2.3em;
  font-weight: 400;
  letter-spacing: .18em;
  line-height: 2em;
  color: white;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.feature-title hr {
  height: 5px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}

.feature-subtitle {
  color: #636FA4;
  margin-bottom: 0;
}

.feature-title2 {
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: .15em;
}

.feature-description {
  font-size: .8em;
  line-height: 2em;
}

.feature-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-preview {
  grid-area: carousel;
  margin-top: 2em;
}

.feature-preview img {
  border-radius: 5px;
}

@media (min-width: 768px) {
  .feature {
    font-size: 1.2em;
  }
  .feature-container {
    max-width: 600px;
  }
  .feature-buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .feature-buttons a {
    margin-right: 80px;
  }
}

@media (min-width: 1400px) {
  .feature-container {
    max-width: 1400px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "title title" "content carousel";
    grid-gap: 1em;
  }
  .feature-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-size: 3.5em;
    letter-spacing: .30em;
    text-align: start;
  }
  .feature-title hr {
    width: 100%;
  }
}

.projects {
  background: #2E2E2E;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 150px;
}

@media (min-width: 1400px) {
  .projects {
    grid-gap: 250px;
  }
}

.projects-intro {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-bottom: -200px;
}

.projects-intro-title {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: .35em;
}

.projects-intro-title-start {
  color: #FFAF7B;
}

.projects-intro-title-end {
  color: #FFAF7B;
}

.projects-intro p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: .7em;
}

@media (min-width: 1400px) {
  .projects-intro {
    font-size: 1.6em;
  }
}

.projects-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  max-width: 350px;
}

.projects-card .carousel-inner {
  border-radius: 2px;
}

@media (min-width: 768px) {
  .projects-card {
    max-width: 500px;
  }
}

@media (min-width: 1400px) {
  .projects-card {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
        grid-template-areas: "content carousel";
    max-width: 1400px;
  }
}

.project-content {
  color: #fff;
  font-size: .8em;
}

.project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2em;
}

.project-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFAF7B;
  font-weight: bold;
  letter-spacing: .35em;
  margin-top: 2em;
  margin-bottom: .5em;
}

.project-title {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: .15em;
}

.project-description {
  line-height: 2.2em;
}

@media (min-width: 768px) {
  .project-buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .project-buttons a {
    margin-right: 80px;
  }
}

@media (min-width: 1400px) {
  .project-content {
    grid-area: content;
  }
  .project .carousel {
    grid-area: carousel;
  }
}

.aboutMe {
  background: #E8CBC0;
  background: -webkit-gradient(linear, left bottom, left top, from(#E8CBC0), to(#636FA4));
  background: linear-gradient(0deg, #E8CBC0 0%, #636FA4 100%);
  margin-top: 300px;
  color: #fff;
  position: relative;
}

.aboutMe-upper {
  background: #2e2e2e;
  background: linear-gradient(175deg, #2E2E2E 55%, #636FA4 55%);
  height: 300px;
  position: absolute;
  top: -300px;
  width: 100%;
}

.aboutMe-container {
  padding-bottom: 3em;
}

.aboutMe-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "title" "photo" "info";
  grid-gap: 1em;
  justify-items: center;
  width: 95%;
  max-width: 350px;
  padding-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.aboutMe-title {
  font-size: 3em;
  margin-top: -1em;
  letter-spacing: .25em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.aboutMe-description {
  font-size: .9em;
  max-width: 400px;
}

.aboutMe-email {
  color: #FFCB9E;
}

.aboutMe-phone {
  color: #FFCB9E;
}

.aboutMe-contact {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutMe-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  list-style-type: none;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.aboutMe img {
  width: 250px;
  border-radius: 5px;
  mix-blend-mode: overlay;
}

.aboutMe-content1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: photo;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.aboutMe-content2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: info;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media (min-width: 1400px) {
  .aboutMe-title {
    letter-spacing: .35em;
    text-align: right;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: 1em;
    font-size: 3.5em;
  }
  .aboutMe-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: "skills content";
    grid-gap: 10%;
    max-width: 1400px;
    margin: 0 auto;
  }
  .aboutMe-content {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: content;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "title title" "info photo";
    max-width: 100%;
  }
}

.skills {
  background: rgba(54, 54, 54, 0.199);
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  grid-area: skills;
}

.skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-content h2 {
  font-size: 2.5em;
  letter-spacing: .15em;
  margin-top: 1em;
}

.skills-content ul {
  width: 80%;
  list-style: none;
}

.skills-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-content ul li p {
  margin: 0;
}

.skills-content ul img {
  margin-right: 2em;
  width: 40px;
  mix-blend-mode: screen;
}

.skills-content p {
  width: 80%;
  font-size: .8em;
}

.skills-description {
  margin-bottom: 2em;
}
/*# sourceMappingURL=main.css.map */