
// ======================================
//  Variables
// ======================================

// Colors
$colors: (
    primary: #636FA4,
    secondary: #E8CBC0,
    accent: #FFAF7B,
    bg: #2E2E2E,
    bg-dark: #2D2C2C,
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

$font-primary: 'Poppins', sans-serif;

// breakpoints
$break-med: 768px;
$break-lrg: 1200px;
$break-sup: 1400px;


// ======================================
//  Mixins
// ======================================

// Media queries
@mixin media($break) {            
    @if $break == 'med' {
      @media (min-width: $break-med) {
        @content;             // Add 'else if' for more breakpoints
      }          
    } @else if $break == 'lrg' {
      @media (min-width: $break-lrg) {
        @content;             
      }
    } @else if $break == 'sup' {
      @media (min-width: $break-sup) {
        @content;             
      }
    }    
  }
// ======================================
//  Base
// ======================================
* {
    font-family: $font-primary;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: color(secondary);
}

.button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 1em;
    &-primary {
        background-color: color(primary);
        color: #fff;
    }
}

.butt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    &-primary {
        background: color(primary);
    }
    &-secondary {
        background: #fff;
        color: color(bg);
    }
    @include media(lrg) {

    }
}


// ======================================
//  Nav Section
// ======================================

.nav-container {
    background-color: color(bg-dark);
    header {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 2em;
        margin-right: 2em;
        a {
            text-decoration: none;
            font-size: 1.2em;
            .navName {
                &-first {
                    color: color(secondary);
                }
                &-start {
                    color: color(accent);
                }
                &-last {
                    color: color(primary);
                }
                &-end {
                    color: color(accent);
                }
            }
        }

        @include media(lrg) {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: auto;
            margin-left: 0;
            margin-right: 0;
            a {
                font-size: 1.2em;
            }

        }
    }  
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: .9em;
    .navLrg {
        display: none;
        a {
            width: 100px;
            &:link {
                color: #fff;
            }
            &:visited {
                color: #fff;
            }
            &:hover {
                color: color(accent);
            }
        }
    }
    @include media(med) {
        .navLrg {
            display: flex;
        }
    }
    @include media(lrg) {
        justify-content: flex-start;
        // padding
        padding-left: 20%; 
        .navLogo {
            padding-right: 100px;
        }
        
    }
}

.header-social {
    display: none;
    margin: 0;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: color(secondary);
    list-style-type: none;
    a {
        margin: 1em;
    }
    @include media(lrg) {
        display: flex;
        padding-right: 2em;
    }
}

// Dropdown 
.dropdown {
    @include media(med) {
        display: none;
    }
}
ul.dropdown-menu.show{
    background-color: color(bg);
}

// ======================================
//  Hero Section
// ======================================
.hero {
    background: color(bg);
    color: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;  
    position: relative;
    h1 {
        margin-top: 1em;
        font-size: 2.1em;
        font-weight: 400;
        letter-spacing: .25em;
        line-height: 1.8em;

    }
    &-content {
        width: 330px;
    }
    &-tagline {
        font-size: .9em;
        letter-spacing: .1em;
        span {
            color: color(accent);
        }
    }
    &-cta {
        margin-top: 2.5em;
    }
    &-buttons {
        display: flex;
        justify-content: space-between;
    }
    @include media(med) {
        margin-left: -4em;
        &-content {
            width: 400px;
        }
        h1 {
            font-size: 3em;
            
        }
    }
    @include media(lrg) {
        height: 100vh;
        // padding
        padding-left: 25%;
        justify-items: start;
        &-container {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: auto;
        }
        h1 {
            margin-top: 1.5em;
            font-size: 4em;
        }
        &-content {

        }

        &-tagline {
            font-size: 1.1em;
        }
        &-cta {
            font-size: 1.1em;
            margin-bottom: 2em;
        }
        &-buttons {
           width: 350px;
        }
    }
}



.hero-lower {
    background: color(bg);
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    padding-bottom: 3em;
    height: 225px;
    width: 100%;
    @include media(med) {
        height: 440px;
    }
    @include media(lrg) {
        background-color: color(secondary);
        clip-path: none
    }
}
.hero-svg {
    position: absolute;
    top: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 300px;
    @include media(med) {
        top: 550px;
        max-width: 500px;
    }
    @include media(lrg) {
        top: 300px;
        left: 50%;
        max-width: 35%;
    }
}



// ======================================
//  Feature Section
// =====================================

.feature {
    background: color(secondary);
    background: linear-gradient(180deg, rgba(232,203,192,1) 0%, rgba(99,111,164,1) 100%);
    // display: grid;
    // grid-template-columns: 100%;
    // grid-template-rows: auto;
    // align-items: center;
    // justify-content: space-evenly;
    padding-bottom: 100px;
    // padding-top: 5em;
    &-container {
        width: 90%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    &-title {
        margin-top: 4em;
        margin-bottom: 2em;
        font-size: 2.3em;
        font-weight: 400;
        letter-spacing: .18em;
        line-height: 2em;
        color: white;
        text-align: center;
    }
    &-subtitle {
        color: color(primary);
        margin-bottom: 0;
    }
    &-title2 {
        font-size: 1.3em;
        font-weight: 400;
        letter-spacing: .15em;
    }
    &-description {
        font-size: .8em;
        line-height: 2em;
    }
    &-buttons {
        display: flex;
        justify-content: space-between;
    }
    @include media(med) {
        &-container {
            max-width: 600px;
        }
        &-title {
            font-size: 3em;
        }
        &-title2 {
            font-size: 1.5em;
        }
        &-buttons {
            justify-content: flex-start;
            a {
                margin-right: 80px;
            }
        }
    }
    @include media(lrg) {
        height: 90vh;
        &-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            align-items: center;
            max-width: 1200px;
        }
        &-title {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2em;
            font-size: 3.5em;
            letter-spacing: .30em; 
            text-align: start;
        }
        &-description {
            max-width: 500px;
        }
    }

}
.feature-preview {}

.feature-preview {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    width: auto;
    img {
        border-radius: 2px;
    }

}

// ======================================
//  Projects Section
// =====================================
.projects {
    background: color(bg);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2em;
}

.projects-intro {
    width: 80%;
    padding-top: 6em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    &-title {
        font-size: 2em;
        font-weight: 400;
        letter-spacing: .35em;
        &-start {
            color: color(accent);
        }
        
        &-end {
            color: color(accent);
        }
    }
    p {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        font-size: .7em;
    }
}

.projects-card {
    width: 90%;
    height: 550px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    .carousel-inner {
        border-radius: 2px;
    }
    @include media(med) {
        max-width: 500px;
    }
}

.project {
    &-content {
        color: #fff;
        font-size: .8em;
    }
    &-buttons {
        display: flex; 
        width: 100%;
        justify-content: space-between;
        font-size: 1.2em;
    }
    &-subtitle {
        display: flex;
        color: color(accent);
        font-weight: bold;
        letter-spacing: .35em;
        margin-top: 2em;
        margin-bottom: .5em;
    }
    &-title {
        font-size: 2em;
        font-weight: 400;
        letter-spacing: .15em;
    }
    &-description {
        line-height: 2.2em;
    }
    @include media(med) {
        &-buttons {
            justify-content: flex-start;
            a {
                margin-right: 80px;
            }
        }
    }
}

// ======================================
//  About me Section
// =====================================

.aboutMe {
    color: #fff;
    &-title {
        background: rgb(46,46,46);
        background: linear-gradient(170deg, rgba(46,46,46,1) 55%, color(primary) 55%); 
        height: 400px;
        margin-top: -3em;
        margin-bottom: 0;
        padding-top: 300px;
        padding-bottom: 2em;
        text-align: center;
        font-size: 3em;
        letter-spacing: .25em;
    }
    &-container {
        background: color(secondary);
        background: linear-gradient(0deg, rgba(232,203,192,1) 0%, rgba(99,111,164,1) 100%);
        padding-bottom: 3em;
    }
    &-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1em;
        justify-items: center;
        width: 95%;
        max-width: 350px;
        padding-top: 3em;
        margin-left: auto;
        margin-right: auto;
    }
    &-description {
        margin-bottom: 0;
        font-size: .9em;
        max-width: 400px;
    }
    &-links {
        display: flex;
        justify-content: space-between;
        width: 200px;
        list-style-type: none;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
    img {
        width:250px;
        border-radius: 5px;
        mix-blend-mode: luminosity;
    }
}

.skills {
    background: rgba(41, 41, 41, 0.164) ;
    border-radius: 30px;
    width: 80%;
    max-width: 400px;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    &-content { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: 2.5em;
            letter-spacing: .15em;
            margin-top: 1em;
        }
        ul {
            width: 80%;
            list-style: none;
            li {
                display: flex;
                margin-bottom: 1em;
                align-items: center;
                p {
                    margin: 0;
                }
            }
            img {
                margin-right: 2em;
                width: 40px;
                mix-blend-mode: lighten;
            }
        }
        p {
            width: 80%;
            font-size: .8em;
        }
    }
    &-description {
        margin-bottom: 2em;
    }

}