// ======================================
//  Variables
// ======================================

// Colors
$colors: (
    primary: #636FA4,
    secondary: #E8CBC0,
    accent: #FFAF7B,
    accent2: #FFCB9E,
    bg: #2E2E2E,
    bg-dark: #2D2C2C,
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

$font-primary: 'Poppins', sans-serif;

// breakpoints
$break-med: 768px;
$break-lrg: 1400px;
$break-sup: 2200px;
$break-xl: 2800px;