// ======================================
//  Base
// ======================================
* {
    font-family: $font-primary;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: color(secondary);
}
a, {
    text-decoration: none;
}

// Button styles
.butt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    position: relative;
    z-index: 1;
    transition: color,scale 300ms ease-in-out;
    --border-size: 2px;
    &-primary {
        color: #fff;
        background: color(primary);
    }
    &-secondary {
        background: #fff;
        color: color(bg);
    }
// Animations
    &:before {
        content: '';
        position: absolute;
        border-radius: 20px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: color(accent);
        transition: transform 300ms ease-in-out;
        transform: scaleX(0);
    }
    &:focus,
    &:hover {
        color: color(bg);
        scale: 1.1;
    }
    &:hover:before,
    &:focus:before {
        transform: scaleX(1);
    }
    @include media(sup) {
        width: 200px;
        height: 50px;
        border-radius: 30px;
        font-size: 20px;
    }
}

// Logo

.logo {
    &-first {
        color: color(secondary);
    }
    &-start {
        color: color(accent);
    }
    &-last {
        color: color(primary);
    }
    &-end {
        color: color(accent);
    }
}