// ======================================
//  About me Section
// =====================================

.aboutMe {
    background: color(secondary);
    background: linear-gradient(0deg, rgba(232,203,192,1) 0%, rgba(99,111,164,1) 100%);
    margin-top: 300px;
    color: #fff;
    position: relative;
    &-upper {
        background: rgb(46,46,46);
        background: linear-gradient(175deg, rgba(46,46,46,1) 55%, color(primary) 55%); 
        height: 300px;
        position: absolute;
        top: -300px;
        width: 100%;
    }
    &-container {
        padding-bottom: 3em;
    }
    &-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "title"
        "photo"
        "info";
        grid-gap: 1em;
        justify-items: center;
        width: 95%;
        max-width: 350px;
        padding-top: 3em;
        margin-left: auto;
        margin-right: auto;
    }
    &-title {
        font-size: 3em;
        margin-top: -1em;
        letter-spacing: .25em;
        grid-area: title;
    }
    &-description {
        font-size: .9em;
        max-width: 400px;
    }
    &-email {
        color: color(accent2);
    }
    &-phone {
        color: color(accent2);
    }
    &-contact {
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }
    &-links {
        display: flex;
        justify-content: space-between;
        width: 200px;
        list-style-type: none;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
    img {
        width: 250px;
        border-radius: 5px;
        mix-blend-mode: overlay;
    }
    &-content1 {
        grid-area: photo;
        align-self: start;
    }
    &-content2 {
        grid-area: info;
        align-self: start;
    }
    @include media(lrg) {
        &-title {
            text-align: right;
            width: 70%;
            font-size: 3.5em;
        }
        &-container {
            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-template-areas: "skills content";
            max-width: 1400px;
            margin: 0 auto;
        }

        &-content {
            grid-area: content;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "title title"
            "info photo";
            max-width: 100%;
        }
    }
}

.skills {
    background: rgba(54, 54, 54, 0.199);
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    grid-area: skills;
    &-content { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: 2.5em;
            letter-spacing: .15em;
            margin-top: 1em;
        }
        ul {
            width: 80%;
            list-style: none;
            li {
                display: flex;
                margin-bottom: 1em;
                align-items: center;
                p {
                    margin: 0;
                }
            }
            img {
                margin-right: 2em;
                width: 40px;
                mix-blend-mode: screen;
            }
        }
        p {
            width: 80%;
            font-size: .8em;
        }
    }
    &-description {
        margin-bottom: 2em;
    }

}