// ======================================
//  CTA Section
// =====================================

.cta {
    background: color(primary);
    color: #fff;
    &-upper {
        background: color(bg);
        height: 100px;

    }
}

.cta {
    &-content {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }
    h1 {
        letter-spacing: .20em;
    }
    ul {

    }
    p {
        color: color(accent);
    }
}

footer {
    background-color: color(bg-dark);
    .footer-content {
        height: 100px;
        margin: 0 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            font-size: 1em;
        }
        p {
            color: rgb(59, 59, 59);
            margin: 0;
            display: none;
        }
        @include media(med) {
            p {
                display: block;
            }
        }
        @include media(lrg) {
            padding: 0 10%;
        }
    }
}