// ======================================
//  Page Layout Section
// =====================================

.secondary-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  height: 84vh;
  overflow-y: auto;
  overflow-x: hidden;
  @include media(med) {
  }
  @include media(lrg) {
    overflow: hidden;
    grid-template-columns: 70% 30%;
  }
}

.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: color(bg);
  &-content {
    margin: 0 1em;

    h1 {
      font-size: 3em;
    }
    .subtitle {
      color: color(accent);
      margin-top: -1em;
      margin-bottom: 3em;
    }
    p {
      color: #fff;
    }
  }
  @include media(med) {
    h1 {
      font-size: 3.5em;
    }
  }
  @include media(lrg) {
    justify-content: flex-start;
    padding-left: 20%;
  }
  @include media(sup) {
    h1 {
      font-size: 5em;
    }
  }
}

.secondary-lower {
  background-color: color(bg);
  padding: 0 1em;
  ul {
    max-width: 517px;
    margin: 2em auto;
    h3 {
      color: #fff;
      margin-bottom: 1em;
    }
    li {
      margin: 1em 0;
      a {
        transition: fill 400ms ease-in-out;
        fill: #fff;
        &:hover,
        &:focus {
          fill: color(primary);
          color: color(primary);
        }
      }
      svg {
        width: 40px;
        margin-right: 1em;
      }
      span {
        transition: color 200ms ease-in-out;
        font-size: 1em;
        letter-spacing: 0.15em;
      }
    }
  }
  @include media(med) {
    // max-width: 100%;
    // margin: 0 auto;
  }
  @include media(lrg) {
    background-color: color(secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ul {
      h3 {
        color: color(bg);
      }
      li a {
        color: color(bg);
        fill: color(bg);
      }
    }
    .butt {
      margin: auto;
    }
  }
  @include media(sup) {
    ul li svg {
      width: 50px;
    }
  }
}
