// ======================================
//  Projects Section
// =====================================
.projects {
    background: color(bg);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 150px;
    @include media(lrg) {
        // font-size: 1.1em;
        grid-gap: 250px
    }
}

.projects-intro {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: -200px;
    &-title {
        font-size: 2em;
        font-weight: 400;
        letter-spacing: .35em;
        &-start {
            color: color(accent);
        }
        
        &-end {
            color: color(accent);
        }
    }
    p {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        font-size: .7em;
    }
    @include media(lrg) {
        font-size: 1.6em;
    }
}

.projects-card {
    width: 90%;
    // margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    // margin-bottom: 100px;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 350px;
    .carousel-inner {
        border-radius: 2px;
    }
    @include media(med) {
        max-width: 500px;
    }
    @include media(lrg) {
        // margin-bottom: 200px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3em;
        grid-template-areas: "content carousel";
        max-width: 1400px;
    }
}

.project {
    &-content {
        color: #fff;
        font-size: .8em;
    }
    &-buttons {
        display: flex; 
        width: 100%;
        justify-content: space-between;
        font-size: 1.2em;
    }
    &-subtitle {
        display: flex;
        color: color(accent);
        font-weight: bold;
        letter-spacing: .35em;
        margin-top: 2em;
        margin-bottom: .5em;
    }
    &-title {
        font-size: 2em;
        font-weight: 400;
        letter-spacing: .15em;
    }
    &-description {
        line-height: 2.2em;
    }
    @include media(med) {
        &-buttons {
            justify-content: flex-start;
            a {
                margin-right: 80px;
            }
        }
    }
    @include media(lrg) {
        &-content {
            grid-area: content;
        }
        .carousel {
            grid-area: carousel;
        }
    }
}