// ======================================
//  Resume
// ======================================

.resume {
  img {
    width: 60%;
  }
  &-butt {
    margin-top: 2em;
    display: flex;
    width: 70%;
    justify-content: space-between;
  }
  @include media(med) {
    width: 517px;
  }
  @include media(lrg) {
    margin-bottom: 5em;
  }
}
